<app-header></app-header>

<section id="page-header" class="about-header">
    <h3>#KnowUs</h3>
</section>
<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#"><i class="fa fa-remove"></i>.</a></td>
                <td><img src="/assets/img/img_26.png" alt=""></td>
                <td>Valentino Bag</td>
                <td>700$</td>
                <td></td>
                <td>700$</td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-remove"></i>.</a></td>
                <td><img src="/assets/img/img_26.png" alt=""></td>
                <td>Valentino Bag</td>
                <td>700$</td>
                <td></td>
                <td>700$</td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-remove"></i>.</a></td>
                <td><img src="/assets/img/img_26.png" alt=""></td>
                <td>Valentino Bag</td>
                <td>700$</td>
                <td></td>
                <td>700$</td>
            </tr>
        </tbody>
    </table>
</section>
<section id="card-add" class="section-p1">
    <div id="subtotal">
        <h3>Cart Totals</h3>
        <table>
            <tr>
                <td>Cart Subtotal</td>
                <td>$ 355</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>Free</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>$ 355</strong></td>
            </tr>
        </table>
        <button class="normal"> Proceed to checkout </button>
    </div>
</section>

<app-footer></app-footer>