<app-header></app-header>

<section id="page-header" class="about-header">
    <h3>#KnowUs</h3>
</section>

<section id="about-head" class="section-p1">
    <img src="/assets/img/img_32.png" alt="">
    <div>
        <h3> Who We Are ?</h3>
        <p>
            Iconic is a global fashion house founded in Tirana in 2023.
            Inspired by the inclusive and courageous spirit of our hometown,
            we make beautiful things, crafted to last-for you to be yourself in.
            Today,the same way we care about every stitch that goes into our product,
            we care about the impact we have on people, communities and the planet.
            Everything we make,we craft to last with the belief that better-made things
            create a better made future for all.
            Iconic is more than a fashion house--it's a community of bag lovers around
            the world united by a shared spirit of optimism and the courage to be
            ourselves. It's this "family" that inspires us to reimagine fashion for the
            future we want to see tomorrow--the idea that when we're ourselves, together ,
            we can move the world forward.</p>
        <br><br>
        <marquee loop="-1" scrollamount="5" width="100%">Make your shopping experience worth
            remembering</marquee>
    </div>
</section>

<app-footer></app-footer>