#page-header.about-header {
    background-image: url(/assets/img/software.jpg);
    width: 88%;
    height: 40vh;
    background-size: cover;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0 80px;
    display: flex;
}

#page-header.about-header h3 {
    font-size: 60px;
    font-weight: 600;
    color: #0C73D4;
}

#about-head {
    display: flex;
    align-items: center;

}

#about-head img {
    width: 40%;
    padding-left: 40px;
}

#about-head div {
    padding-left: 40px;
}

.section-p1 {
    padding: 40px 80px;
}