<app-header></app-header>

<section id="hero">
    <h1>Super value deals</h1>
    <h3>Bags and accessories that everyone should have.</h3>
    <button>Shop Now</button>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="/assets/img/freeShiping.jpg" alt="" width="100" height="150">
        <h6> Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/img_5.png" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/img_2.png" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/img_3.png" alt="">
        <h6>Save money</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/promotions.jpg" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/img_4.png" alt="">
        <h6>Support</h6>
    </div>
</section>

<section id="product1" class="section-p1">
    <h3>Featured Products</h3>
    <p>New Collection</p>
    <div class="pro-container">
        <div class="pro">
            <img src="/assets/img/img_10.png" alt="" height="280">
            <div class="des">
                <h5>Louis Vuitton Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>350$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_9.png" alt="" height="280">
            <div class="des">
                <h5>Prada Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>455$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_6.png" alt="" height="280">
            <div class="des">
                <h5>Guess Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>230$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_7.png" alt="" height="280">
            <div class="des">
                <h5>Valentino Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>800$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_13.png" alt="" height="280">
            <div class="des">
                <h5>Louis Vuitton Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>620$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_14.png" alt="" height="280">
            <div class="des">
                <h5>Prada Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>1200$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_15.png" alt="" height="280">
            <div class="des">
                <h5>Guess Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>340$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_16.png" alt="" height="280">
            <div class="des">
                <h5>Valentino Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>600$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
    </div>
</section>

<section id="banner" class="section-m1">
    <h3>Up to <span>70% Off</span>-All Bags & Accessories</h3>
</section>

<section id="product2" class="section-p1">
    <h3>New Arrivals</h3>
    <p>Summer Collection</p>
    <div class="pro-container">

        <div class="pro">
            <img src="/assets/img/img_22.png" alt="" height="280">
            <div class="des">
                <h5>Louis Vuitton Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>1150$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_18.png" alt="" height="280">
            <div class="des">
                <h5>Prada Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>655$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_19.png" alt="" height="280">
            <div class="des">
                <h5>Guess Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>130$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_20.png" alt="" height="280">
            <div class="des">
                <h5>Valentino Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>1300$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_23.png" alt="" height="280">
            <div class="des">
                <h5>Louis Vuitton</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>2300$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_24.png" alt="" height="280">
            <div class="des">
                <h5>Prada Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>800$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_25.png" alt="" height="280">
            <div class="des">
                <h5>Guess Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>300$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/img_26.png" alt="" height="280">
            <div class="des">
                <h5>Valentino Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>460$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
    </div>
</section>

<section id="sm-banner" class="section-p1">

    <div class="banner-box">
        <h4>crazy deals</h4>
        <h3>buy 1 get 1 free</h3>
        <span>The best classic LV bag is on sale.</span>
    </div>
    <div class="banner-box banner-box2">
        <h4>Spring/Summer</h4>
        <h3>upcoming season</h3>
        <span>The Prada mini bags is available at Iconic Store</span>
    </div>
</section>

<section id="banner3">
    <div class="banner-box">
        <h3>SEASONAL SALE</h3>
        <h3>Winter Collection -50% OFF</h3>
    </div>
    <div class="banner-box banner-box2">
        <h3>NEW ACCESSORIES COLLECTION</h3>
        <h3>Spring/Summer 2023</h3>
    </div>
    <div class="banner-box banner-box3">
        <h3>LUXURY BAGS</h3>
        <h3>NEW TRENDS ARRIVED</h3>
    </div>
</section>

<app-footer></app-footer>