<app-header></app-header>

<section id="page-header">
        <h3>#readmore</h3>
        <h5>Read all case studies about our products! </h5>
    </section>

<section id="blog">
        <div class="blog-box">
        <div class="blog-img">
                <img src="/assets/img/louis.jpg" class="test" alt="">
                
            </div> 

            <div class="blog-details">
                <h4>What is special about Louis Vuitton bags?</h4>
                <p>
                    Louis Vuitton's reputation for high-quality craftsmanship
                    can be seen through the materials and durability of each
                    piece. The bags are meant to be used often without showing
                    signs of wear and tear. This is further exemplified through
                    vintage pieces, which can be years old and still look brand new.
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h3>13/01</h3>
        </div>
    

   <div class="blog-box">
            <div class="blog-img">
                <img src="/assets/img/best.jpg"  class="test" alt="">
            </div>
            <div class="blog-details">
                <h4>What made Prada famous?</h4>
                <p>
                    For over 100 years, Prada has designed and sold beautifully crafted
                    and ingenious handbags, clothes, shoes, and accessories for women,
                    men, and now children. Prada today has become synonymous with luxury
                    goods and never fails to disappoint year-in and year-out.
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h3>16/02</h3>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="/assets/img/guessBlog.jpg" class="test" alt="">
            </div>
            <div class="blog-details">
                <h4>Is Guess bags a luxury brand?</h4>
                <p>
                    The price tags and craftsmanship of the Guess products are not
                    high enough to consider Guess a strong luxury brand, and the
                    materials used are not up to the same standard as other more
                    prominent luxury designers.
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h3>03/01</h3>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="/assets/img/valentino-blog.jpg" class="test" alt="">
            </div>
            <div class="blog-details">
                <h4>What is the difference between Valentino and Mario Valentino bags?</h4>
                <p>
                    If we are just looking at the bags, we can see that most Mario Valentino bags
                    are made from leather for a stylish look and luxe feel. Valentino handbags are
                    made from either calfskin or lambskin leather which are typically higher-quality
                    leathers that guarantee a luxurious result.
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h3>12/12</h3>
        </div> 

    </section> 

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fa fa-angle-double-right"></i>.</a>
    </section>


<app-footer></app-footer>