<footer class="section-p1">
    <div class="col">
        <img src="/assets/img/img_11.png" alt="" width="150" height="100">
        <h4>Contact</h4>
        <p><strong>Address:</strong>Rruga e Kavajës 50 Ish Volkswagen Tirane, 1001</p>
        <p><strong>Phone:</strong>0699872614</p>
        <p><strong>Hours:</strong>09:00 - 18:00 , Mon - Fri</p>
    </div>
    <div class="col">
        <p>Secured Payment Gateways</p>
        <img src="/assets/img/img_12.png" alt="" width="250" height="100">
    </div>
    <div class="copyright">
        <p>Copyright © chweb 2023</p>
    </div>
</footer>