<app-header></app-header>

<section id="page-header">
    <h2>#stayhome</h2>
    <p>Save up to 70% off!</p>
</section>
<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="/assets/img/img_10.png" alt="" height="280">
            <div class="des">
                <h5>Louis Vuitton Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>350$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_9.png" alt="" height="280">
            <div class="des">
                <h5>Prada Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>455$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_6.png" alt="" height="280">
            <div class="des">
                <h5>Guess Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>230$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_7.png" alt="" height="280">
            <div class="des">
                <h5>Valentino Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>800$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_13.png" alt="" height="280">
            <div class="des">
                <h5>Louis Vuitton Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>620$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_14.png" alt="" height="280">
            <div class="des">
                <h5>Prada Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>1200$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_15.png" alt="" height="280">
            <div class="des">
                <h5>Guess Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>340$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_16.png" alt="" height="280">
            <div class="des">
                <h5>Valentino Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>600$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_22.png" alt="" height="280">
            <div class="des">
                <h5>Louis Vuitton Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>1150$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_18.png" alt="" height="280">
            <div class="des">
                <h5>Prada Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>655$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_19.png" alt="" height="280">
            <div class="des">
                <h5>Guess Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>130$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_20.png" alt="" height="280">
            <div class="des">
                <h5>Valentino Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>1300$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_23.png" alt="" height="280">
            <div class="des">
                <h5>Louis Vuitton</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>2300$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_24.png" alt="" height="280">
            <div class="des">
                <h5>Prada Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>800$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_25.png" alt="" height="280">
            <div class="des">
                <h5>Guess Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>300$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/assets/img/img_26.png" alt="" height="280">
            <div class="des">
                <h5>Valentino Bag</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>460$</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
    </div>
</section>
<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa fa-angle-double-right"></i></a>
</section>


<app-footer></app-footer>