<div class="containter col-md-6">

    <h1 class="primary">User Registration</h1>

    <form (ngSubmit)="userRegister()">

<div class="mb-3">
    <label for="exampleForm" class="form-label">Name</label>
    <input type="text" class="form-control" id="ngname" name="name" placeholder="name" [(ngModel)]="user.name">
</div>

<div class="mb-3">
    <label for="exampleForm" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastname" placeholder="lastname" name="lastname" [(ngModel)]="user.lastname">
</div>

<div class="mb-3">
    <label for="exampleForm" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" placeholder="email" name="email" [(ngModel)]="user.email">
</div>

<div class="mb-3">
    <label for="exampleForm" class="form-label">Password</label>
    <input type="text" class="form-control" id="password" placeholder="password" name="password" [(ngModel)]="user.password">
</div>




<button type="submit" class="btn btn-primary">Register</button>

    </form>

</div>